<footer>
    <div id="inner-footer" class="vertical-nav">
        <div class="container">
            <div class="row">
                <!--<div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="social"> 
                    <div class="social-icons" id="social-links">
                        <a href="#" title="Visit Wiki - Stratum" target="_blank"><span class="icon wiki"></span> VISIT WIKI</a>
                        <a href="#" title="See Email LIsts" target="_blank"><span class="icon email"></span> SEE EMAIL LISTS</a>
                    </div>
                    </div>
                </div> 
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="social"> 
                    <div class="social-icons" id="social-links">
                        <a href="https://twitter.com/" title="Twitter - Stratum" target="_blank"><span class="icon tw"></span> TWITTER</a>
                        <a href="#" title="Slak - Stratum" target="_blank"><span class="icon slack"></span> SLACK</a>
                    </div>
                    </div>
                </div> -->
                <div class="col-xs-12 col-md-6">
                    <p class="copy pull-right">© 2018 STRATUM</p>
                </div>
            </div>
        </div>
    </div>
</footer>